.header h4{
  padding: 15px 15px 0;
  color: #333333;
  font-weight: 300;
  font-size: 22px;

  .badge {
    margin-left: 12px;
  }
}

table {
  border-collapse: collapse;
  margin-bottom: 0px;

  thead {
    th {
      padding-right: 24px;
      text-align: left;
      cursor: pointer;
      vertical-align: middle;
      position: relative;

      .glyphicon {
        position: absolute;
        right: 4px;
        top: 50%;
        margin-top : -7px;
      }
    }
  }
  tbody {
    tr {
      cursor: pointer;

      td {
        vertical-align: middle;
      }
    }
  }
}

.row-filter {
  padding: 3px 15px;

  &-input {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }
}
