@import '../../styles/colors';

.Navbar{
  background: white;
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  .Navbar-logo{
    height: inherit;
    img{
      height: inherit;
      width: auto;
    }
  }
  .Navbar-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    .btn {
      text-decoration: none;
      margin-right: 5px;
    }
    .btn-primary {
      background: white;
      padding: 10px 20px 10px 20px;
      color: black;
    }
  }
}
