page-dashboard {
  ion-card{
    padding: 12px;

    img{
      height: 130px;
      width: auto;
      margin: 0 auto;
    }

    .card {
      &-desc-wrapper {
        margin-top: 12px;
        border-top: solid 1px lightgray;
        padding-top: 12px;
        text-align: center;
      }
      &-title{
        font-weight: bold;
        font-size: 30px;
      }
      &-subtitle{
        font-size: 16px;
        min-height: 44px;
      }
    }
  }

  ion-list{
    ion-item{
      //border: none;
    }
    img{
      width: 40px;
    }
  }
}
