<ion-content padding>
  dashboard page

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let listItem of parties">
        party on!
      </ion-col>
    </ion-row>
    <ion-row responsive-md>
      <ion-col>
        <ion-row responsive-sm>
          <ion-col>
            <ion-card>
              <img src="assets/PPlogos/pis.jpg"/>
              <div class="card-title">São Paulo</div>
              <div class="card-subtitle">41 Listings</div>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img src="assets/PPlogos/pis.jpg"/>
              <div class="card-title">São Paulo</div>
              <div class="card-subtitle">41 Listings</div>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img src="assets/PPlogos/pis.jpg"/>
              <div class="card-title">São Paulo</div>
              <div class="card-subtitle">41 Listings</div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row responsive-sm>
          <ion-col>
            <ion-card>
              <img src="assets/PPlogos/pis.jpg"/>
              <div class="card-title">São Paulo</div>
              <div class="card-subtitle">41 Listings</div>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img src="assets/PPlogos/pis.jpg"/>
              <div class="card-title">São Paulo</div>
              <div class="card-subtitle">41 Listings</div>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img src="assets/PPlogos/pis.jpg"/>
              <div class="card-title">São Paulo</div>
              <div class="card-subtitle">41 Listings</div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
