$chart-height: 600px;
.Chart{
  height: $chart-height;
  .Chart-header{
    margin: 0;
    margin-bottom: 10px;
  }
  .Chart-tabs{
    .nav-link{
      border: 1px solid cornflowerblue;
    }
    .Chart-singleTab{
      padding: 20px 10px;
    }
  }
  .Chart-graph {
  }

}
