$chart-height: 580px;
.Chart{
  height: $chart-height;
  .Chart-header{
    margin: 0;
    margin-bottom: 10px;
  }
  .Chart-tabs{
    .nav-link{
      border: 1px solid cornflowerblue;
    }
    .Chart-singleTab{
      padding: 20px 10px;
    }
  }
  canvas, .Chart-graph {
    max-height: 400px !important;
    max-width: 800px !important;
  }

}
